<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924710173144-r7pcau548og39ht3q6bnsevp6ejrq3pe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924710173144-r7pcau548og39ht3q6bnsevp6ejrq3pe</string>
	<key>API_KEY</key>
	<string>AIzaSyCC3wSd2GWZ4d8VYtf7N00sPpqb247Ng-s</string>
	<key>GCM_SENDER_ID</key>
	<string>924710173144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nextline.jaspesoft.com</string>
	<key>PROJECT_ID</key>
	<string>nextline-ve</string>
	<key>STORAGE_BUCKET</key>
	<string>nextline-ve.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924710173144:ios:50944c8c410e7387531aad</string>
	<key>DATABASE_URL</key>
	<string>https://nextline-ve.firebaseio.com</string>
</dict>
</plist>